.tactic {
    &__tactic-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__field-wrapper {
        width: 400px;
    }

    &__options {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        display: block;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        margin-bottom: 2rem;
        margin-top: 20px;

        @media (min-width: 768px) {
            margin-top: 25px;
        }
    }

    &__color-options {
        display: flex;
        justify-content: space-around;
    }

    &__color-option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        padding-left: 5px;
        color: #fff;
        margin-bottom: 5px;
        text-shadow: 2px 2px #000;
    }

    &__input {
        padding-left: 10px;
        height: 40px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-family: 'Roboto';
        font-size: 20px;
        box-sizing: border-box;
        margin-bottom: 5px;

        &::placeholder {
            color: #ddd;
        }
    }

    &__form-field {
        margin-top: 1.5rem;
        position: relative;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}