@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.tactic {
    padding: 25px 0 125px 0;

    &__tactic-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        flex-direction: column;

        @media(min-width: 1000px) {
            flex-direction: row;
        }
    }

    &__field-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media(min-width: 1000px) {
            width: 50%;
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        list-style: none;
        padding: 0;
        position: absolute;
        right: 0;
        margin-right: 80px;
        top: 4px;

        li {
            border: 0;
            margin-left: 4px;
        }

        button {
            background: linear-gradient(135deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);;
            padding: 10px;
            border: 0;
            cursor: pointer;
            border-radius: 50%;
            width: 36px;
            opacity: .5;
            box-shadow: 3px 3px 3px;

            &:hover {
                opacity: 1;
            }
        }
    }

    .heading {
        font-size: 3em;
        color: #181c32;
    }

    .options {
        width: 100%;
        box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
        border: 0;
        border-radius: .42rem;
        font-family: 'Poppins', sans-serif;

        @media(min-width: 1000px) {
            width: 50%;
        }

        &__header {
            min-height: 70px;
            padding: 0 2.25rem;
            margin-bottom: 0;
            border-bottom: 1px solid #ebedf3;
            display: flex;
            align-items: center;
        }

        &__content {
            padding: 2.25rem;
        }
    }
    
    .color-options {
        display: flex;
        justify-content: space-around;
    }
    
    .color-option {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}