// Colors
$white: #fff;
$black: #000;

$primary: #1b55e2;
$info: #2196f3;
$success: #8dbf42;
$warning: #e2a03f;
$danger: #e7515a;
$secondary: #5c1ac3;
$dark: #3b3f5c;

$l-primary: #c2d5ff;
$l-info: #bae7ff;
$l-success: #e6ffbf;
$l-warning: #ffeccb;
$l-danger: #ffe1e2;
$l-secondary: #dccff7;
$l-dark: #acb0c3;

$m-color_1: #f1f2f3;
$m-color_2: #ebedf2;
$m-color_3: #e0e6ed;
$m-color_4: #bfc9d4;
$m-color_5: #d3d3d3;
$m-color_6: #888ea8;
$m-color_7: #506690;
$m-color_8: #555555;
$m-color_9: #515365;
$m-color_10: #0e1726;
$m-color_11: #607d8b;
$m-color_12: #1b2e4b;
$m-color_13: #25d5e4;
$m-color_14: #009688;
$m-color_15: #ffbb44;
$m-color_16: #e95f2b;
$m-color_17: #f8538d;
$m-color_18: #191e3a;
$m-color_19: #060818;
$m-color_20: #fafafa;
$m-color_21: #445ede;
$m-color_22: #304aca;
$m-color_23: #20232a;
$m-color_24: #282c34;

// Breakpoints
$breakpoint--xs: 0;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;

:root {
    --color-page-background: #{$m-color_1};
    --color-header-background: #{$white};
    --color-header-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
    --color-hero-background: radial-gradient(70% 70% at 50% 100%,#e8e8e8 0,#{$m-color_20} 100%);
    --color-footer-background: #{$m-color_20};
    --color-input-background: #{$m-color_20};
    --color-border: #{$m-color_3};
    --color-text: #{$m-color_10};
    --color-text-secondary: #{$m-color_8};
    --color-link: #{$m-color_9};
    --color-block-background: #{$m-color_20};

    // constants
    --color-primary: #{$primary};
    --color-info: #{$info};
    --color-success: #{$success};
    --color-warning: #{$warning};
    --color-danger: #{$danger};
    --color-secondary: #{$secondary};
    --color-dark: #{$dark};
}
  
.dark {
    --color-page-background: #{$m-color_24};
    --color-header-background: #{$m-color_24};
    --color-header-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px 0px inset;
    --color-hero-background: radial-gradient(70% 70% at 50% 100%,#{$m-color_23} 0,#{$m-color_24} 100%);
    --color-footer-background: #{$m-color_23};
    --color-input-background: #{$m-color_23};
    --color-border: #{$m-color_19};
    --color-text: #{$m-color_1};
    --color-text-secondary: #{$m-color_5};
    --color-link: #{$m-color_3};
    --color-block-background: #{$m-color_23};
}