.home {
    .hero {
        background-image: radial-gradient(70% 70% at 50% 100%,#e8e8e8 0,#fafafa 100%);
        padding: 150px 0;

        &__items {
            display: flex;
            flex-direction: column;

            @media(min-width: 1000px) {
                flex-direction: row;
            }
        }
    
        &__item {

            @media(min-width: 1000px) {
                width: 50%;
            }
            
            &--right {
                display: none;
                justify-content: flex-end;

                @media(min-width: 1000px) {
                    display: flex;
                }
            }
        }

        &__description {
            font-size:18px;
            letter-spacing:-0.01em;
            line-height: 1.7;
            font-weight: 400;
        }

        &__button {
            animation: btn-gradient-animation 3s ease-in-out infinite;
            border: none;
            border-radius: 5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 15px 68px;
            margin-top: 50px;
            color: #fff !important;
            text-decoration: none !important;
            cursor: pointer;
            outline: 0;
            text-transform: uppercase;
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
            text-align: center;
            letter-spacing: 3px;
            display: inline-block;
            background: #F17C35;
            background: linear-gradient(45deg, #F17C35 0%, #E2336E 44%, #E2336E 56%, #F17C35 100%);
            background-size: 150% 150%;
            transition: background-position 0.7s ease-in-out;
        }
    }

    &__start {
        padding: 125px 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 1000px) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__card {
        width: 250px;
        margin: 25px;

        @media(min-width: 1000px) {
            width: 25%;
        }
    }

    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        color: #666666;
    }
}