.squad {
    box-sizing: border-box;
    margin-top: 25px;

    .player-table {
        overflow-x: auto;

        &__name {
            input {
                width: 250px;
            }
        }

        &__no {
            input {
                width: 100px;
            }
        }

        &__icon {
            padding-left: 5px;
            width: 30px;

            input {
                display: block;
                margin: auto;
                width: 100%;
            }

            @media (min-width: var(--breakpoint-lg)) {
                padding-left: 15px;
            }
        }

        img {
            height: 24px;
        }
    }
}
