.squad {
    box-sizing: border-box;

    .player-table {
        overflow-x: auto;

        &__name {
            width: 200px;
        }

        &__no {
            width: 60px;
        }

        &__icon {
            padding-left: 5px;

            @media (min-width: 1000px) {
                padding-left: 15px;
            }
        }
    }
}
