.squad {
    box-sizing: border-box;

    &__position-list {
        list-style-type: none;
        margin: 20px 0 0 0;
        padding: 0;
    }

    &__position-list-item {
        display: flex;
        flex-direction: row;
    }
}