@import 'styles/_variables.scss';

.app {
  &__content {
    background-color: var(--color-page-background);
    color: var(--color-text);

    min-height: calc(100vh - 65px - 174px);

    @media (min-width: $breakpoint--lg) {
      min-height: calc(100vh - 65px - 153px);
    }
  }
}
