@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('../node_modules/normalize.css/normalize.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: #666;
}