@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import './style/voet.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif !important;
}

a {
    text-decoration: none;
    color: #3dd598;
}